.buttonContainer{
    width: 180px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    background-color: var(--primary-light-blue);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    color: black;
}

.buttonContainer > p{
    font-size: 17px;
}

.buttonContainer:hover {
    background-color: var(--primary-silverLakeBlue);
    cursor:pointer;
}