.input {
    border: 1px black solid;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-family: 'manrope';
    padding-left:0.75em;
    border-radius:10px;
    width:100%;
    font-size: 14px;
}

.box {
    width:100%;
}

.box h4 {
    width:100%;
}

.main {
    display:flex;
    flex-direction: column;
    width:100%;
    height: 884px;
    padding-bottom: 0px;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main p {
    font-family:'manrope';
}

.main h1 {
    text-align: center;
    margin-bottom:0.25em;
    margin-top:0.25em;
}

.logoPic {
    display:flex;
    margin:auto;
}

.joinButton {
    padding-top:2em;
    padding-bottom:2em;
    margin:auto;
}

.joinButton button {
    border:none;
    font-family:'manrope';
    background-color:var(--primary-pumpkin);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius:20px;
    padding-left:2em;
    padding-right:2em;
    padding-top:1.5em;
    padding-bottom:1.5em;
    font-size:16px;
    margin:auto;
}

.joinButton a {
    text-decoration:none;
    color: var(--primary-black);
}

.inputBox h4 {
    margin-bottom:0.5em;
}