@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.main{
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-family: 'manrope', sans-serif;
  padding-top:10em;
}

.logo img {
  object-fit:contain;
}

.text {
  text-align:center;
}

.text a {
  text-decoration:none;
  color: var(--primary-black);
}


.button a {
  text-decoration:none;
  color: var(--primary-black);
}
