@import url('https://fonts.googleapis.com/css2?family=Manrope');

.main {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding-top:300px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 8rem;
}

.btn {
    margin: none;
    padding: none;
}


.finishBtn {
   display: flex;
   justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}


.text {
    padding-left: 25px;
    padding-right: 20px;
}